body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'PT-BOLD';
  src: local('PTSans'), url(./Fonts/PTSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'PT-BOLD-ITALIC';
  src: local('PTSans'), url(./Fonts/PTSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'PT-ITALIC';
  src: local('PTSans'), url(./Fonts/PTSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'PT-Regular';
  src: local('PTSans'), url(./Fonts/PTSans-Regular.ttf) format('truetype');
}
